@font-face {
  font-family: nav;
  src: url(./css/GochiHand-Regular.ttf);
}

@font-face {
  font-family: summary;
  src: url(./css/Corben-Regular.ttf);
}

.mainForm {
  padding-top: 50px;
  text-align: center;
}

.cardsList {
  padding-top: 30px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

body {
  background-image: url(./css/bg.jpg);
  background-size: cover;
}

#card-title {
  font-size: 40px;
  color: rgb(234, 182, 118);
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}

#card-title,
#temp,
#summary {
  font-family: summary;
}

.navbar {
  font-family: nav;
  font-size: 20px;
}

#card {
  margin-top: -30px;
  padding-top: 25px;
  width: 400px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center content inside the card */
}

.accordion-item {
  border: none;
}

#flag {
  width: 35px;
}

#icon {
  width: 60px;
}

#summary {
  font-size: 25px;
  font-style: italic;
}

#temp {
  font-size: 50px;
}

#list {
  font-size: 20px;
}

#post,
#pagination,
#searchBar {
  display: flex;
  justify-content: center;
}

span {
  font-weight: Ø bold;
}

.status {
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 50px;
}
