.mainForm{
    padding-top: 60px;
    text-align: center;
}

#card-title{
    
    font-size: 40px;
    
}

#card{
    padding-top: 45px;
}

#summary{
    font-size: 20px;
}

#temp{
    font-size: 50px;
    font-weight: bold;
}

span{
    font-size: 20px;
}
